---
import GitHubLink from "../../components/GitHubLink.astro";
import Layout from "../../layouts/Default.astro";
import Nav from "../../components/NewNav.astro";

import { getCollection, render } from "astro:content";
const shipped = await getCollection("i-shipped");
---

<Layout title="I Shipped...">
  <main>
    <Nav />

    <h1 class="title">I Shipped...</h1>
    {
      shipped
        .filter((item) => item.data?.mergeDate)
        .sort((a, b) => {
          const aTime = a.data?.mergeDate?.getTime() ?? 0; // or use a default like Date.now()
          const bTime = b.data?.mergeDate?.getTime() ?? 0;
          return bTime - aTime;
        })
        .map(async (item) => {
          const { Content } = await render(item);
          return (
            <article class="mono">
              <time style="margin-block: 0; color: var(--muted)">
                {item.data.mergeDate?.toLocaleDateString("en-GB", {
                  day: "numeric",
                  month: "long",
                  year: "numeric",
                })}
              </time>
              <details style="margin-block: 0;">
                <summary>{item.data.summary}</summary>
                <Content />
              </details>
              <div style="display: flex; justify-content: end;">
                <GitHubLink repo={item.data.repo} pr={item.data.prNumber} />
              </div>
            </article>
          );
        })
    }
  </main>
</Layout>
