---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Default.astro";
import Nav from "../../components/NewNav.astro";
import Signature from "../../components/Signature.svelte";

const { slug } = Astro.params;
if (!slug) throw new Error("Slug not found");
const post = await getEntry("posts", slug);

if (!post) throw new Error("No post found for this slug");
const { Content } = await post.render();

// Generate static pages
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({ params: { slug: post.slug } }));
}
---

<style>
  p img {
    margin-block-end: var(--layout-spacing);
  }
</style>
<Layout title={post.data.title} bg={post.data.page_bg}>
  <main>
    <Nav />
    <hgroup class="content meta">
      <h1 class="title">
        {post.data.title}
      </h1>
      <small
        >{
          new Intl.DateTimeFormat("en-GB", {
            dateStyle: "full",
            timeStyle: "short",
            hour12: true,
          }).format(new Date(post.data.date))
        }.</small
      >
    </hgroup>
    {
      post.data.featured_image && (
        <div>
          <img
            alt={post.data.title}
            src={
              post.data.featured_image ||
              "https://source.unsplash.com/random/?" +
                encodeURIComponent(post.data.title)
            }
            style="width: 100%; aspect-ratio: 16/9; object-fit: cover; margin-block-end: var(--layout-spacing);"
          />
        </div>
      )
    }

    <article class="content">
      <Content />
      <div
        style="color: var(--primary); width: 30% !important; margin-inline-start: auto; margin-block: var(--layout-spacing);"
      >
        <Signature client:load />
      </div>
    </article>
  </main>
</Layout>
