---
import Layout from "../../layouts/Default.astro";
import Nav from "../../components/NewNav.astro";
---

<Layout title="Joe Innes | Contact">
  <Nav />
  <main>
    <h1 class="title">Contact</h1>
    <form action="https://formspree.io/f/xrblnbpp" method="POST">
      <label>
        Your email address
        <input
          type="email"
          name="email"
          placeholder="dentarthurdent@heartofgold.com"
          required
        />
      </label>
      <label>
        Subject
        <input
          type="text"
          name="subject"
          placeholder="Notification of Intention to Construct Bypass"
          required
        />
      </label>
      <label>
        Message
        <textarea
          name="message"
          rows="8"
          placeholder="Hi, I'd like to let you know we're constructing a bypass..."
        ></textarea>
      </label>

      <button type="submit" class="">Send</button>
    </form>
  </main>
</Layout>
