---
import { Image } from "astro:assets";
import joeImage from "../../public/joei.webp";
import Layout from "../layouts/Default.astro";
import NewNav from "../components/NewNav.astro";
---

<Layout title="Joe Innes">
  <style>
    h1 + p {
      font-size: 1.5em;
    }
  </style>
  <main>
    <NewNav />
    <h1 class="title">Joe Innes</h1>
    <p class="mono">Full Stack Developer</p>
    <Image
      src={joeImage}
      alt="A playful render of Joe working on his laptop with his guitar in the background"
      style="width: 100%; aspect-ratio: 1; height: auto;"
    />

    <p>
      Helping people build local-first, realtime apps with encrypted,
      distributed data.
    </p>
    <a href="/contact"> Want to talk? </a>
  </main>
</Layout>
