---
import { marked } from "marked";
import { createReader } from "@keystatic/core/reader";
import keystaticConfig from "../../../keystatic.config";
import Layout from "../../layouts/Default.astro";
import Nav from "../../components/NewNav.astro";
const reader = createReader(process.cwd(), keystaticConfig);
const now = await reader.singletons.now.read();
const content = await now?.now();
const renderedMd = await marked.parse(content || "");
import WeekInMusic from "../../components/MyMusic.astro";
---

<Layout title="Joe Innes | Now">
  <main>
    <Nav />
    <h1 class="title">Now</h1>
    <article set:html={renderedMd} />
    <article>
      <h2>Listening To...</h2>

      <WeekInMusic />

      <p>
        Note: this was generated automatically based on the top tracks I
        listened to over last week.
      </p>
    </article>
  </main>
</Layout>
