---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Joe Innes">
  <div class="text-center mb-4 flex flex-col gap-2 md:block">
    <a
      href="/Joe Innes - CV.pdf"
      download
      class="whitespace-nowrap px-4 py-2 bg-primary-700 text-white rounded"
      data-umami-event="CV Download">Download a copy</a
    >
    <a
      href="/contact"
      class="whitespace-nowrap px-4 py-2 border-primary-700 border rounded"
      >Need a different format?</a
    >
  </div>
  <div class="w-full flex-1">
    <embed src="/Joe Innes - CV.pdf" class="w-full h-full object-scale-down" />
  </div>
</Layout>
