---
import Layout from "../../layouts/Default.astro";
import Nav from "../../components/NewNav.astro";
---

<style>
  embed {
    width: 100%;
    aspect-ratio: 21/29;
  }
  main > div {
    margin-block-start: var(--layout-spacing);
    display: flex;
    gap: var(--layout-spacing);
  }
</style>

<Layout title="Joe Innes">
  <Nav />
  <main>
    <h1 class="title">My CV</h1>
    <div>
      <a
        class="button"
        href="/Joe Innes - CV.pdf"
        download
        data-umami-event="CV Download">Download a copy</a
      >
      <a class="button" href="/contact">Need a different format?</a>
    </div>
  </main>
  <embed src="/Joe Innes - CV.pdf" />
</Layout>
