@import url(https://fonts.bunny.net/css?family=space-mono:400,700);
@layer reset, base, utilities, components, layout;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    color-scheme: light dark;
    --font-sans:
      "Space Grotesk", "Avenir Next", "Avenir", "Century Gothic", "Gill Sans",
      ui-sans-serif, system-ui, sans-serif;
    --font-mono:
      "Space Mono", ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono", monospace;
    --dark: #404040;
    --light: #ffffff;
    --foreground: light-dark(var(--dark), var(--light));
    --background: light-dark(var(--light), var(--dark));
    --primary: light-dark(
      oklch(52.79% 0.115 243.47),
      oklch(78.79% 0.115 243.47)
    );
    --max-width: 80ch;
    --transition: opacity 200ms ease-in-out;
    --layout-spacing: max(4vh, 1rem);
    --inline-spacing: calc(var(--layout-spacing) / 8);
    --border-rounded-full: 9999px;
    --border-radius: calc(var(--inline-spacing));
    --muted: color-mix(in hsl, var(--foreground) 70%, var(--background) 30%);
    --very-muted: color-mix(
      in hsl,
      var(--foreground) 20%,
      var(--background) 80%
    );
  }

  html {
    border-block-start: var(--primary) solid calc(var(--inline-spacing) * 2);
  }

  body {
    font-family: var(--font-sans);
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: var(--layout-spacing) 1rem;
    accent-color: var(--primary);
    row-gap: 1rem;
  }

  main {
    --max-width: 60ch;
    margin-inline: auto;
    margin-block-start: var(--layout-spacing);
    max-width: var(--max-width);
    width: 100%;
  }

  pre:has(code) {
    padding: var(--inline-spacing);
    border-radius: var(--border-radius);
    background-color: color-mix(
      in hsl,
      var(--background) 90%,
      var(--foreground) 10%
    );
  }
  code {
    white-space: pre-wrap; /* preserve newlines but allow wrapping */
    word-wrap: break-word; /* break long words if needed */
    font-family: var(--font-mono);
    overflow-wrap: break-word !important;
    max-width: 100% !important;
  }

  dt {
    font-weight: 700;
  }

  input,
  textarea {
    padding: var(--inline-spacing) calc(var(--inline-spacing) * 2);
  }
  label,
  input,
  textarea {
    display: block;
    width: 100%;
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin-inline-end: var(--inline-spacing);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--layout-spacing);
  }
  h6 {
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.2rem);
  }
  h5 {
    font-size: clamp(1.2rem, 1rem + 0.6vw, 1.44rem);
  }
  h4 {
    font-size: clamp(1.44rem, 1.2rem + 0.8vw, 1.73rem);
  }
  h3 {
    font-size: clamp(1.73rem, 1.4rem + 1vw, 2.07rem);
  }
  h2 {
    font-size: clamp(2.07rem, 1.6rem + 1.2vw, 2.49rem);
  }
  h1 {
    font-size: clamp(2.49rem, 1.8rem + 1.5vw, 3rem);
  }

  :is(h1, h2, h3) {
    line-height: 1.2;
    font-weight: 700;
    & :not(:is(hgroup h1)) {
      margin-block-end: var(--layout-spacing);
    }
  }
  hgroup {
    margin-block-end: var(--layout-spacing);
  }

  :is(h2, h3):not(:first-child) {
    margin-block-start: var(--layout-spacing);
  }

  article {
    padding-block: calc(var(--layout-spacing) / 2);

    &:first-of-type {
      padding-block-start: 0;
    }
    & * + * {
      padding-block-start: calc(var(--layout-spacing) / 2);
    }
  }

  a {
    color: var(--primary);
    text-underline-offset: calc(var(--inline-spacing) / 3);
  }
  details :not(summary, summary *) {
    opacity: 0.7;
  }

  blockquote {
    border-inline-start: var(--inline-spacing) solid var(--foreground);
    padding-inline: calc(var(--inline-spacing) * 4);
    padding-block: calc(var(--layout-spacing) / 4);
    background-color: color-mix(
      in hsl,
      var(--foreground) 5%,
      var(--background) 95%
    );
  }
}

@layer utilities {
  .mono {
    font-family: var(--font-mono);
  }
}

@layer components {
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  input[type="file"]::file-selector-button,
  a.button {
    text-decoration: none;
    background-color: color-mix(
      in hsl,
      var(--primary) 90%,
      var(--foreground) 10%
    );
    color: #fff;
    border-radius: var(--border-radius);
    border: none;
    padding: var(--inline-spacing) calc(var(--inline-spacing) * 2);
    border-radius: var(--inline-spacing);
    transition: var(--transition);
    &:hover {
      background-color: color-mix(
        in hsl,
        var(--primary) 80%,
        var(--foreground) 20%
      );
    }
  }

  .title {
    text-decoration: underline;
    text-decoration-thickness: calc(var(--inline-spacing) * 2);
    text-decoration-color: var(--primary);
    margin-block-end: var(--layout-spacing);
    & + h2 {
      margin-block-end: 0;
    }
  }
}
