---
import "../styles.css";

export interface Props {
  title: string;
  bg?: string;
}

const { title, bg } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  style={bg &&
    `--primary: light-dark(${bg}, color-mix(in hsl, ${bg} 80%, var(--foreground) 20%));
}`}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=space-grotesk:400,700|space-mono:400,700"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
